Lab01.py 


공유 폴더에서 다음 파일을 복사하세요. 
lab01_car_report.xls    :   자동차 등록 현황 엑셀 파일이다.  

import pandas as pd

lab01_data = pd.read_excel("lab01_car_report.xls",encording="utf-8")

print(lab01_data )
    

1) 위의 파일을 읽고, 모두 출력 
2) 행 제목만 출력 
3) 열 제목만 출력  
4) 통계적 개요 (평균, 표준편차, 최소, 최대 값 등) 출력
5) 두번째 열 제목만 출력
6) 두번째 컬럼을 기준으로 내림차순 정렬하여 출력 
7) 첫번째 행만 출력
8) 첫번째 행, 첫번째 열 만 출력  
9) 컬럼 제목 “계”  인 데이터만 출력
10) 화물차 와 특수차 정보만 출력

In [ ]:
#!pip install xlrd

In [1]:
import pandas as pd
lab01_data = pd.read_csv("lab01_car_report.csv")
#lab01_data = pd.read_excel("lab01_car_report.csv")

In [2]:
#1. 모두 출력
print(lab01_data)

  규모별          계        승용차      승합차      화물차    특수차
0   계  3,116,256  2,641,190  127,564  339,921  7,581
1  경형    220,851    191,736    7,818   21,278     19
2  소형    323,859     75,636    5,986  238,603  3,634
3  중형  1,689,724  1,528,821  100,000   58,830  2,073
4  대형    881,822    844,997   13,760   21,210  1,855

In [3]:
#2. 행 제목만 출력
for v in lab01_data.values:
    print(v[0])

계
경형
소형
중형
대형

In [4]:
#3.열 제목만 출력
for c in lab01_data.columns:
    print(c)

규모별
계
승용차
승합차
화물차
특수차

In [20]:
#4. 통계적 개요 (평균, 표준편차, 최소, 최대 값 등) 출력
print(lab01_data.describe())

       규모별          계        승용차      승합차      화물차    특수차
count    5          5          5        5        5      5
unique   5          5          5        5        5      5
top      계  3,116,256  2,641,190  127,564  339,921  7,581
freq     1          1          1        1        1      1

In [30]:
#5. 두번째 열 제목만 출력
print(lab01_data.columns[2])

승용차

In [25]:
#6 두번째 컬럼을 기준으로 내림차순 정렬
print(lab01_data.sort_values(by='계',ascending=False))

  규모별          계        승용차      승합차      화물차    특수차
4  대형    881,822    844,997   13,760   21,210  1,855
2  소형    323,859     75,636    5,986  238,603  3,634
0   계  3,116,256  2,641,190  127,564  339,921  7,581
1  경형    220,851    191,736    7,818   21,278     19
3  중형  1,689,724  1,528,821  100,000   58,830  2,073

In [26]:
#7. 첫번째 행만 출력
print(lab01_data[0:1])

  규모별          계        승용차      승합차      화물차    특수차
0   계  3,116,256  2,641,190  127,564  339,921  7,581

In [29]:
#8. 첫번째 행, 첫번째 열만 출력
print(lab01_data.loc[0,'계'])

3,116,256

In [31]:
# 9.컬럼 제목 “계” 인 데이터만 출력
print(lab01_data['계'])

0    3,116,256
1      220,851
2      323,859
3    1,689,724
4      881,822
Name: 계, dtype: object

In [32]:
#10. 화물차 와 특수차 정보만 출력
lab01_data.loc[:, ('화물차','특수차')]

       화물차    특수차
0  339,921  7,581
1   21,278     19
2  238,603  3,634
3   58,830  2,073
4   21,210  1,855